<%= stylesheet_link_tag    "top", :media => "all" %>
<%= javascript_include_tag "top" %>

<div id="container">

  <div id="contents">
    <h1>miteru.cnosuke.com</h1>
    <p id="subscription">見ているページをすぐにツイートするブックマークレットだよ。</p>

    <h2>つかいかた</h2>
    <ol>
      <li><a href="/oauth">ここ</a>でOAuthで認証する</li>
      <li>出てくるブックマークレットを登録する</li>
      <li>みてるページをツイートする</li>
    </ol>

    <h2>とうろく</h2>
    <p><a href="/oauth" id="oauth">登録はこちらから</a></p>

    <h2>ちゅうい</h2>
    <ul>
      <li>永遠のベータ版なので急に仕様変更するかもよ</li>
      <li>サーバが突然死ぬかもよ</li>
      <li>突然サービス停止するかもよ</li>
    </ul>

    <h2>よくありそうなしつもん</h2>
    <dl>
      <dt>Q.なんですかこれ</dt>
      <dd>A.さぁなんだろうね</dd>
      <dt>Q.使い方がよくわかんね</dt>
      <dd>A.<a href="http://google.com/?q=ブックマークレット">ブックマークレットでぐぐれ</a></dd>
      <dt>Q.OAuthの情報悪用されないすか</dt>
      <dd>A.おまえのOAuthなんて悪用しねええええええよ！！！</dd>
      <dt>Q.OAuthの情報ってどうやって管理してますか</dt>
      <dd>A.善管注意義務程度に注意して管理してる</dd>
      <dt>Q.退会したいんですが。</dt>
      <dd>A.Twitterでアプリ連携やめればおｋ。</dd>
    </dl>

    <p id="copyrights">&copy; 2012 miteru.cnosuke.com</p>

  </div>
</div>
