#container {
    margin: 0 0;
    padding: 0 0;
    background-color : #eeeeee;
    background : -moz-linear-gradient(top, #fff, #eee);
    background : -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
}

#contents {
    margin: 0 auto;
    width: 600px;
}

h1 {
    margin: 20px 10px 0 0;
    font-size: 25px;
    padding: 20px 0;
    width: 12em;
    text-align : center;
    color : #fff;
    background-color: #cccccc;
    border-right-color : #999999;
    border-bottom-color : #999999;
    text-shadow : #999 0 2px 2px;
    border-radius : 10px;
}

h2 {
    width: 12em;
    margin: 50px 10px 0 0;
    padding: 0 0 5px 5px;
}

p {
    margin: 0 0 0 50px;
    padding: 10px 0;
}

p#subscription{
    margin: 10px 0 0 5px;
    color: #4c4c4c;
}

p#copyrights{
    text-align: center;
    padding: 100px;
    color: #999;
    
}

li {
    margin: 10px 0 0 0;
}

ol{
        list-style-type: decimal;
        margin: 20px 0 0 50px;
}

ul{
        list-style-type: disc;
        margin: 20px 0 0 50px;
}

dt {
    margin: 25px 0 0 30px;
}

dd {
    margin: 10px 0 0 30px;
}
